#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #292929;
  border-radius: 20px;
}

.header {
  margin-bottom: 40px;
}

h1 {
  margin: 1rem;
}

.input-form {
  margin-bottom : 10px;
}

.todo-input {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 10px 0 10px 10px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.add-button {
  width: 100%;
  margin-bottom: 10px;
}

.todo-item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  background-color: #545454;
  border-radius: 10px;
}

.check-box {
  width: 100%;
  height: 100%;
  margin: 0 0 0 10px;
  box-sizing: border-box;
}

[type="checkbox"] {
  accent-color: #323232;
}

.todo-text {
  margin: auto;
}

.delete-button {
  background-color: #545454;
}